<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="p-3 mb-2 bg-light text-dark">
      <h1 style="text-align:center">Mission to Mars</h1>
      <p style="text-align:center"><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News:</h2>
    <h5>{{mars.news_title}}</h5>
    <p>{{mars.news_p}}</p>

    <div class = "row">
        <div class = "col-md-7">
            <h2>Featured Mars Image</h2>
            <img class="img-fluid" src="{{mars.featured_image_url}}" alt="Mars">
        </div>
        <div class = "col-md-5" style="padding-left:3%;">
          <h2>Mars Facts</h2>
          <p>{{mars.mars_table|safe}}</p>
        </div>
    </div> 
    
    <hr>

    
    <h2 style="text-align:center"> Mars Hemispheres</h2>
    <hr>
      
    <div class = "card-deck">
      <div class="col-md-12">
        <div class="row">
          {% for dict in mars.hemisphere_data %}
          <div class="col-md-6">
            <div class="card border-dark mb-3" style="max-width: 40rem;">
              <img class="card-img-top" width="400px" src="{{dict.image_url}}">
              <div class="card-body">
                <h4 class="card-title">{{dict.title}}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


  </div>
</body>

</html>
