<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News:</h2>
    <h5>{{mars.news_title}}</h5>
    <p>{{mars.news_p}}</p>

    <div class = "row">
        <div class = "col-md-7">
            <h2>Featured Mars Image</h2>
            <img class="img-fluid" src="{{mars.featured_image_url}}" alt="Mars">
        </div>
        <div class = "col-md-5" style="padding-left:3%;">
          <h2>Mars Facts</h2>
          <p>{{mars.mars_table|safe}}</p>
        </div>
    </div> 
    
    <hr>

    
    <h2 style="text-align:center"> Mars Hemispheres</h2>
    <hr>
      
    <div class = "card-deck">
      <div class="col-md-12">
        <div class="row">
          {% for dict in mars.hemisphere_data %}
          <div class="col-md-6">
            <div class="card border-dark mb-3" style="max-width: 30rem;">
              <img class="card-img-top" width="400px" src="{{dict.image_url}}">
              <div class="card-body">
                <h4 class="card-title">{{dict.title}}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


  </div>
</body>

</html>
